/*  your css code here. If applicable */
.main-container{
                background-color: grey;
                border-radius: 10px;
                width: 1000px;
            }
            #photo-heading{
                text-align: center;
                color: white;
            }
            img{
                border-radius: 10px;
                margin: 10px;
            }
